<app-header title="Inicio"></app-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let board of boards; let targetBoardIdx = index">
        <div class="board">
          <h2>{{ board.title }}</h2>
          <div class="recepcion-container"
               (drop)="onDrop(targetBoardIdx)"
               (dragover)="allowDrop($event)">
            <div *ngFor="let recepcion of board.recepcion"
                 class="recepcion" 
                 (click)="navegarADetalle(recepcion.id)"
                 (click)="mostrarDatosRecepcion(recepcion)"
                 (dragstart)="onDragStart(recepcion.id, targetBoardIdx)"
                 draggable="true">
                 Titulo : {{ recepcion.name }} - Patente : {{ recepcion.patente }}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--NUEVA RECEPCION-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-button (click)="signOut()" expand="block" fill="clear" shape="round">
    Cerrar sesion
  </ion-button>

 

</ion-content>